@import "compass";
@import "compass/css3";

@import 'variables';
@import 'navbar';
@import 'menu';

@import 'animations';

@charset "utf-8";

html {
  height: 100%;
}

body {
  background: darken($blue1001, 20%); // url("../images/background.png");
  text-align: center;
  font-family: sans-serif;
  height: inherit;
  width: inherit;
}

.fill-page {
  height: 100%;
  width: 100%;
}

.overview {
  background: url(../images/ten_dollars_small.jpg) no-repeat center;
  z-index: -12;
  position: absolute;
  @extend .fill-page;
  @include opacity(0.1);
  @include background-size(cover);
  @include animation-name(bg-fade-out);
  @include animation-duration(3s);
}

.h1 {
  color: transparentize($orange1001, .3);
  font-weight: bold;
  font-size: 80px;
  font-family: $h1-typo;
  font-weight: 300;
  letter-spacing: 10px;
  // text-transform: uppercase;
  text-shadow: 0 1px 0 $orange1001;
  margin: 0;
}

.overview-container {
  height: inherit;
  width: inherit;
  @include display-flex(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include animation-name(bg-fade-in);
  @include animation-duration(3s);

  h1 {
    @extend .h1;
  }

  .greet {
    @include opacity(.4);
    @include transition-property(opacity);
    @include transition-duration(.5s);

    &:hover {
      @include opacity(1);
    }

    p {
      color: $white1001;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}

.portfolio {
  @extend .fill-page;
  background-color: $white1001;
}

.team {
  @extend .fill-page;
  background-color: $pink1001;
}

.recent-posts {
  @extend .fill-page;
  background-color: $green1001;
}



