// http://www.colourlovers.com/palette/1811244/1001_Stories

$blue1001: #355C7D;
$purple1001: #6C5B7B;
$violet1001: #C06C84;
$pink1001: #F67280;
$orange1001: #F8B195;
$white1001: #f2f6fa;
$green1001: #c1e7a2;
$reder: #FF394E;
$greener: #84EEE4;

$h1-typo: 'Oswald', "jaf-bernino-sans","Lucida Grande", "Lucida Sans Unicode","Lucida Sans", "Geneva","Verdana",sans-serif;

$material-cubic: cubic-bezier(.55,0,.1,1);
