---
title: Ten Dollars
---

.menu-toggle-btn
  span
  span
  span

.navbar
  =link_to 'About', '#about'
  =link_to 'Portfolio', '#portfolio'
  =link_to 'Members', '#members'
  =link_to 'Blog', '#recent-posts'

.overview.fill-page#about
.overview-container.fill-page
  h1 Ten Dollars Studio

  .greet
    p= lorem.sentences 5
    /   | here
    /   br
    /   | we make changes,
    /   br
    /   | we make differences,
    /   br
    /   | we make peace,
    /   br
    /   | we make loves...
    / p we build our own world in a different way
    / p have fun!

.portfolio.wrap-content#portfolio
  .flex-container
    h1 Portfolio
    .flex-row
      a.image-container.blue[href="http://apple.com" target="_blank"]
        .feature-image style="background-image: url('../images/jobs.png');"
        .content
          h3 Steve Jobs
      a.image-container.gold[href="http://ntust.github.io/Team-20" target="_blank"]
        .feature-image style="background-image: url('../images/team-20.png');"
        .content
          h3 Ten Dollars
    .flex-row
      a.image-container[href="https://github.com/yukaii/Oceanic-Seti-ST3" target="_blank"]
        .feature-image style="background-image: url('../images/oceanic-next.png');"
        .content
          h3 Oceanic Next
      a.image-container.red
        .feature-image style="background-image: url('../images/yshin.png');"
        .content
          h3 Yishin Chou

.members.wrap-content#members
  .flex-container
    h1 Members
    .members-flex-flow
      .profile-container
        .head-image style="background-image: url('../images/yukai.jpg');"
        .head-border
        .content-bg
          h3.name Yukai
          .title Coder
      .profile-container
        .head-image style="background-image: url('../images/neson.jpg');"
        .head-border
        .content-bg
          h3.name Neson
          .title Developer
      .profile-container
        .head-image style="background-image: url('../images/lucas.jpg');"
        .head-border
        .content-bg
          h3.name Lucas
          .title Designer
      .profile-container
        .head-image style="background-image: url('../images/manta.jpg');"
        .head-border
        .content-bg
          h3.name Manta
          .title E*ter

.recent-posts.fill-page#recent-posts
.footer#footer

javascript:
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top + 1
          }, 750, $.bez([.55,0,.1,1]));
          return false;
        }
      }
    });
  });
